.intro {
    position: relative;
    padding: 24px 10px 16px;
    background-image: url("../img/intro.jpg");
    background-size: cover;
    overflow: hidden;
}

.intro--company {
    padding: 0;
    min-height: 206px;
}

.intro-title-wrapper {
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    padding: 16px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.55);
}

.banner-video {
    /*position: absolute;*/
    display: block;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.video-container {
    position: relative;
    max-width: 100%;
    padding: 24px 0;
}

.background-video {
    width: 100%;
    object-fit: cover;
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*z-index: 1;*/
}

.intro .title,
.intro .button {
    position: relative;
    z-index: 2;
}

.intro--index .title {
    color: #FFFFFF;
}

.intro .title--h1 {
    margin-bottom: 90px;
}

.intro--products {
    background-image: url("../img/intro-product.jpg");
    padding: 14px 32px 14px;
    min-height: 250px;
    background-position: center;
}

.intro--products .title {
    font-size: 20px;
}

.intro--brands {
    padding: 14px 10px;
    min-height: 240px;
    background-image: url("../img/brands.jpeg");
    background-position: bottom;
}

.intro--brands .title {
    font-size: 20px;
    margin-bottom: 6px;
}

.intro--brands p {
    margin: 0;
    text-align: center;
    font-size: 16px;
}

.banner {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    animation: backgroundchange 21s;
    padding: 23.8%;
    animation-iteration-count: infinite;
}

.banner__title {
    position: absolute;
    max-width: 320px;
    width: 100%;
    padding: 16px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.55);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@keyframes backgroundchange {
    0% { background-image: url('../img/caro/1.jpg'); }
    14% { background-image: url('../img/caro/2.jpg'); }
    28% { background-image: url('../img/caro/3.jpg'); }
    42% { background-image: url('../img/caro/4.jpg'); }
    56% { background-image: url('../img/caro/5.jpg'); }
    70% { background-image: url('../img/caro/6.jpg'); }
    84% { background-image: url('../img/caro/7.jpg'); }
    100% { background-image: url('../img/caro/1.jpg'); }
}

.intro-video {
    padding: 72px 0;
    /*background-image: url("../img/goose.svg");*/
    /*background-repeat: repeat;*/
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video video {
    width: 310px;
    height: 165px;
}


@media (min-width: 1232px) {
    .intro {
        padding: 148px 10px 94px;
    }

    .intro--company {
        padding: 0;
    }

    .video-container {
        padding: 0 0 64px;
    }
    .intro .title--h1 {
        margin-bottom: 313px;
    }

    .intro--products {
        padding: 52px 10px;
        min-height: 685px;
    }

    .intro--products .title {
        font-size: 48px;
        text-align: center;
    }

    .intro--brands {
        padding: 52px 10px;
        min-height: 685px;
    }

    .intro--brands .title {
        font-size: 48px;
        margin-bottom: 14px;
    }

    .intro--brands p {
        font-size: 24px;
        font-weight: 700;
    }

    .banner__title {
        padding: 16px 50px;
        max-width: 1116px;
    }

    .intro-title-wrapper {
        padding: 16px 50px;
        max-width: fit-content;
    }

    .intro-video {
        padding: 64px 0;
    }

    .video video {
        width: 922px;
        height: 493px;
    }
}