.main {
    position: relative;
}

.main-banner {
    display: flex;
    flex-direction: column-reverse;
}

.main-banner__container {
    position: relative;
}

.main-banner__content {
    padding: 24px 12px;
}

.main-banner__container {
    display: flex;
    flex-direction: column;
}

.main-banner__title {
    color: rgba(0, 148, 218, 1);
    background: -webkit-linear-gradient(360deg, rgba(0, 148, 218, 1), rgba(19, 6, 130, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 444px;
    font-size: 42px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.main-banner__text {
    color: rgba(19, 6, 130, 1);
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    max-width: 448px;
    text-align: center;
    margin: 0 auto 24px;
}

.main-banner__button {
    background: var(--c-gradient-secondary);
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.main-banner__image {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    background-size: cover;
    z-index: 3;
}

.mobile-arrow {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 4;
    margin-top: -15%;
}

.main-banner__pagination-list {
    top: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 8px 16px;
    gap: 12px;
    border-radius: 48px;
    background: white;
    z-index: 5;
    align-items: center;
    order: -1;
}

.main-banner__pagination-item {
    display: block;
    width: 8px;
    height: 8px;
    background: rgba(89, 198, 255, 1);
    border-radius: 50%;
    transition: all 0.6s ease;
}

.main-banner__pagination-item--active {
    width: 12px;
    height: 12px;
    background: rgba(19, 6, 130, 1);
}

@media (min-width: 1232px) {
    .main-banner {
        height: 600px;
        background-color: #fff;
        margin: 0 auto;
        max-width: 1200px;
    }

    .main-banner__title {
        font-size: 64px;
        line-height: 1;
        margin-bottom: 32px;
        text-align: left;
        margin-left: unset;
    }

    .main-banner__text {
        text-align: left;
        margin-bottom: 32px;
        margin-left: unset;
    }

    .main-banner__button {
        margin-left: unset;
    }

    .main-banner__container {
        flex-direction: unset;
        display: block;
        position: relative;
    }

    .main-banner__container::after {
        content: "";
        background-image: url("../img/arrow.png");
        background-size: cover;
        display: block;
        width: 178px;
        height: 600px;
        position: absolute;
        top: 0;
        right: 49%;
        z-index: 5;
    }

    .main-banner__pagination-list {
        top: unset;
        left: unset;
        transform: unset;
        right: 0;
    }

    .mobile-arrow {
        display: none;
    }

    .main-banner__content {
        position: relative;
        background-color: #fff;
        z-index: 2;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 600px;
        padding: 0;
    }

    .main-banner__image {
        position: absolute;
        top: 0;
        width: 58%;
        height: 600px;
        right: 0;
        background-size: cover;
    }

    .main-banner__pagination-list {
        bottom: 32px;
        cursor: pointer;
    }
}