.map {
    padding: 48px 10px 48px;
}

.map .title {
    margin-bottom: 38px;
}

.map img {
    display: block;
    max-width: 100%;
    height: auto;
}

.map video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 1200px;
}

@media (min-width: 1232px) {
    .map {
        padding: 72px 0 72px;
    }

    .map__container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        background-color: var(--c-white);
    }

    .map__container .title {
        margin-bottom: 68px;
    }

    .map__container img {
        width: 100%;
    }
}